#wrapper > * {
    display: none;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 2px;
}
#wrapper li, input{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 2px;
    border: 1px solid darkgray;
    border-radius: 5px;
}
#wrapper, header, footer{
    background-color: goldenrod;
}