body{
	
	font-size: 14px;
	font-family: 'Times New Roman';
	ul li{
	list-style-type:none;
	text-align:center;
	color:black;
	}

		#root {
		width: 700px;
		padding:0;
		margin:0;
		#large{
			position:relative;
			border:1px solid grey;
			padding-top:0;
			text-align:center;
			width:480px;
			padding:5px;
			padding-top:0;
			img{
			border:2px solid grey;
			border-radius:5px;
			margin-bottom:10px;
				h1{
					font-size:14px;
				}
			}
		}
		#list{
			overflow:auto;
			text-align:center;
			display:inline-block;
			position:absolute;		
			top:10px;
			left:500px;
			border:2px solid grey;
			height:400px;
			width:200px;
			button{
				margin:5px;
				float:both;
				width:70px;
				height:80px;
				border:2px solid grey;
			}
			ul li {
				img{
				border-radius:10px;
				}
				width:150px;
				height:120px;
				padding:10px;
				&:hover{
					background-color:lightgray;
					border-radius:5px;
					padding:10px;
				}
			}
			strong.title{
			font-size:20px;
			}
		}
	}
	ul, menu, dir{
	-webkit-padding-start:5px;
	}
}