footer {
    background: #234465;
    width:100%;
    height:310px;
    position:relative;
    bottom:-50px;
    overflow: hidden;
    text-decoration: none;
    border-top-right-radius:80px;
}

    footer a {
        color: #65676b;
    }

.actions a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-align: center;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}

    .actions a:nth-of-type(1) {
        margin: 20px 0 10px 0;
    }

    .actions a:hover {
        background: #FF9C00;
    }

footer a:hover {
    color: #ffffff;
}

footer h2 {
    color: #FF9C00;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

footer ul li {
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0;
}

footer ul.social li {
    float: left;
    margin: 0 10px 0 0;
}

footer ul li a {
    color: #fff;
}

body > footer > div > div > div > span {
    color: #fff;
}

footer ul li a:hover {
    color: #FF9C00;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

footer ul.social li a:hover {
    opacity: .6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .pull-right a {
    display: block;
    width: 44px;
    height: 44px;
    background: url(design/totop.gif) 0 0;
}

    footer .pull-right a:hover {
        background: url(design/totop.gif) 100% 0;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }

    footer .pull-right a span {
        display: none;
    }

.pull-left {
    float: left !important;
}

#for-the-university, #our-friends, #iframe-facebook {
    float: left;
    padding: 10px;
}

    #for-the-university ul li a, #our-friends ul li a {
        text-decoration: none;
        margin: 0;
    }

.the-ul {
    padding: 0px;
}

.the-inline-ul {
    padding: 0px;
}

    .the-inline-ul li {
        display: inline;
        padding-right: 10px;
    }

#our-friends {
    padding-left: 50px;
    padding-right: 50px;
}

#div {
    padding-left: 300px;
}
.fb-like-box{
    padding-top:22px;
}
