body {
    background-color: #bab9b9;

    #wrapper {
        padding: 5px 0 5px 0;
        background-color: #dddddd;
        width: 600px;
        height: 850px;
        text-align: center;

        button {
            display: inline-block;
            margin: 0;
            border: 4px solid white;
            width: 185px;
            height: 150px;
            transition: 2s;


            &:nth-child(1) {
                background: url(../images/2012-subaru-brz-8_600x0w.jpg) no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(2) {
                background: url(../images/2013-subaru-wrx-sti-ireland-and-the-isle-of-man-2013_100430370_l.jpg) no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(3) {
                background: url(../images/2013-subaru-wrx-sti-ts-type-ra_100432045_l.jpg) no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(4) {
                background: url("../images/H410700010a.png") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(5) {
                background: url("../images/images (1).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(6) {
                background: url("../images/images (2).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(7) {
                background: url("../images/images (3).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(8) {
                background: url("../images/images (4).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(9) {
                background: url("../images/images (5).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(10) {
                background: url("../images/images (6).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(11) {
                background: url("../images/images (7).jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:nth-child(12) {
                background: url("../images/images.jpg") no-repeat;
                background-size: 100% 100%;
            }

            &:hover {
                -webkit-animation: shake 1s;
                -webkit-animation-iteration-count: infinite;
            }

            &:focus {
                -webkit-animation: zoom 2s;
            }
        }
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-webkit-keyframes zoom {
    0% {
    }

    25% {
        -webkit-transform: scale(2) ;
        z-index: 10;

    }

    50% {
        -webkit-transform: scale(2) rotate(-360deg) ;
        z-index: 10;
    }

    75% {
        -webkit-transform: scale(2) rotate(0deg) ;
        z-index: 10;
    }

    100% {
    }
}
