body {
  background-color:#a9a9a9;
  font-family:'Times New Roman';
  font-size:16px;
}
header h1 {
  color:white;
  text-align:center;
  font-size:40px;
}
article h1 {
  color:white;
  text-align:left;
  font-size:22px;
}
article footer {
  font-size:12px;
}
nav a {
  color:white;
}
nav {
  text-align: center;
  font-size:22px;
}
nav li {
  list-style:none;
}
footer p a {
  color:black;
  text-decoration:none;
}
#bodyfooter {
  text-align: center;
}#LastFooter{
    text-align: center;
}