    <form class="form-horizontal col-sm-10 text-center">
        <legend class="col-md-10">Registration</legend>
        <div class="col-md-3"></div>
        <fieldset class="col-md-3">
            <div class="form-group">
                <label for="inputUsername" class="col-md-3 control-label">Username</label>

                <div class="col-md-9">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-3 control-label">Password</label>

                <div class="col-md-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPasswordRepeat" class="col-md-3 control-label">Confirm Password</label>

                <div class="col-md-9">
                    <input type="password" class="form-control" id="inputPasswordRepeat" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-md-3 control-label">Name</label>

                <div class="col-md-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
        </fieldset>
        <fieldset class="col-md-3">
            <div class="form-group">
                <label for="inputEmail" class="col-md-2 control-label">Email</label>

                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-md-2 control-label">Phone</label>

                <div class="col-lg-10">
                    <input type="tel" class="form-control" id="inputPhone" placeholder="Phone">
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="col-md-2 control-label">Town</label>

                <div class="col-md-10">
                    <select class="form-control" id="select">
                        <option>Undefined</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="col-lg-10">
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
