body {
  font-size: 16px;
  font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif; }
  body ul {
    list-style-type: none; }
  body a {
    text-decoration: none;
    color: black; }
  body #wrapper {
    width: 960px;
    height: 408px;
    color: white; }
    body #wrapper ul li {
      position: relative;
      top: -10px;
      left: -45px;
      margin: 10px;
      margin-left: 5px;
      width: 160px;
      height: 30px;
      display: block;
      text-align: center;
      padding-top: 12px;
      border-radius: 15px;
      background-color: #B6FF00; }
      body #wrapper ul li:hover {
        text-decoration: underline; }
        body #wrapper ul li:hover ul {
          position: absolute;
          left: 160px;
          top: 0px; }
          body #wrapper ul li:hover ul li {
            display: block;
            background-color: #008000;
            width: 600px;
            text-align: left;
            margin: 10px;
            margin-left: 5px;
            color: white;
            height: 60px; }
            body #wrapper ul li:hover ul li:hover {
              height: auto;
              margin: 10px;
              background-color: #008000;
              padding: 15px;
              padding-top: 0px;
              color: white;
              overflow: auto; }
              body #wrapper ul li:hover ul li:hover a {
                padding-top: 10px;
                padding-left: 5px;
                display: block;
                text-align: left;
                margin-bottom: 10px;
                color: white; }
              body #wrapper ul li:hover ul li:hover img {
                display: block;
                width: 600px; }
          body #wrapper ul li:hover ul img {
            display: none; }
      body #wrapper ul li ul li {
        display: none;
        color: white; }

