@font-face {
  font-family: 'GothamNightsBoldItalic';
  src: url('../Fonts/Gotham Nights Bold Italic.otf') format('opentype'); }

@font-face {
  font-family: 'GothamNightsBold';
  src: url('../Fonts/Gotham Nights Bold.otf') format('opentype'); }

@font-face {
  font-family: 'GothamNightsItalic';
  src: url('../Fonts/Gotham Nights Italic.otf') format('opentype'); }

a {
  color: #f5bda6; }

/*1366px normal resolution*/
body {
  margin: 0;
  padding: 0 20px;
  background-color: #130707; }
  body #wrapper {
    margin: 0 auto;
    color: #f5bda6;
    padding: 10px; }
    body #wrapper header {
      width: 1290px;
      box-shadow: #3c0000 0 0 200px; }
      body #wrapper header ul {
        margin: 0;
        padding: 10px 0 5px 0;
        height: 185px; }
        body #wrapper header ul #arkham-knight-logo {
          float: left; }
        body #wrapper header ul #right-padded {
          float: right;
          margin: 60px 50px; }
        body #wrapper header ul li {
          width: 180px;
          text-align: center;
          border-radius: 5px;
          list-style: none;
          display: inline-block;
          font-family: GothamNightsBold;
          font-size: 40px;
          margin: 5px 20px;
          transition: 0.8s; }
          body #wrapper header ul li img {
            width: 300px; }
          body #wrapper header ul li:hover {
            background-color: black; }
    body #wrapper main {
      width: 1280px; }
      body #wrapper main .union {
        box-shadow: #3c0000 0 0 200px;
        margin: 10px 0; }
        body #wrapper main .union section {
          width: 48%; }
      body #wrapper main .section-main-info {
        display: inline-block;
        width: 920px; }
        body #wrapper main .section-main-info section {
          margin: 5px;
          display: inline-block; }
          body #wrapper main .section-main-info section h2 {
            font-family: GothamNightsBold;
            font-size: 30px; }
          body #wrapper main .section-main-info section img {
            width: 360px; }
          body #wrapper main .section-main-info section article {
            display: inline-block;
            width: 320px;
            font-family: GothamNightsBoldItalic;
            font-size: 21px; }
      body #wrapper main .section-secondary-info {
        position: relative;
        bottom: 60px;
        display: inline-block;
        width: 340px;
        padding: 5px; }
        body #wrapper main .section-secondary-info header {
          font-family: GothamNightsBold;
          font-size: 24px;
          width: 340px; }
        body #wrapper main .section-secondary-info section {
          font-family: GothamNightsBold; }
      body #wrapper main nav {
        padding: 0 10%; }
        body #wrapper main nav ul {
          margin: 0 auto; }
          body #wrapper main nav ul li {
            display: inline-block;
            font-family: GothamNightsBold;
            font-size: 30px;
            margin: -30px 20px;
            transition: 1s; }
            body #wrapper main nav ul li:hover {
              color: #580d0d;
              text-decoration: underline;
              cursor: pointer; }
    body #wrapper footer {
      text-align: center;
      font-family: GothamNightsItalic;
      font-size: 10px; }

#wrapper > main > section > .union > section > article {
  width: 100%; }

#wrapper > header > ul > li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0) !important; }

#arkham-knight-logo {
  float: left; }

#wrapper > main > section > div:nth-child(2) > section:nth-child(2) > h2 > a {
  color: darkred; }

/*1200 small resolution*/
@media screen and (max-width: 1201px) {
  body {
    background-image: url('../images/LogoBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0; }
    body #wrapper {
      width: 98%;
      margin: 0;
      padding: 0 10px; }
      body #wrapper header {
        width: 100%; }
        body #wrapper header #right-padded {
          margin: 0 auto;
          padding: 0 5%; }
        body #wrapper header ul {
          width: 100%; }
        body #wrapper header ul > li {
          display: none; }
        body #wrapper header ul > div {
          float: none !important; }
      body #wrapper main {
        width: 100%; }
        body #wrapper main .section-main-info {
          width: 100%; }
          body #wrapper main .section-main-info section {
            width: 48%; }
            body #wrapper main .section-main-info section article {
              width: 100%; }
        body #wrapper main .section-secondary-info {
          position: static;
          width: 100%; }
          body #wrapper main .section-secondary-info section {
            width: 48%;
            vertical-align: top;
            display: inline-block; }
        body #wrapper main nav {
          width: 100%;
          padding: 0;
          margin: 0; }
          body #wrapper main nav ul {
            width: 100%;
            margin: 0;
            padding: 0; }
      body #wrapper footer {
        width: 100%; }
 }

/*560 xsmall resolution*/
@media screen and (max-width: 561px) {
  body {
    background-image: none;
    padding: 0 0.5%; }
    body #wrapper {
      padding: 0;
      margin: 0 auto; }
      body #wrapper header #right-padded {
        margin: 0 !important; }
        body #wrapper header #right-padded li {
          width: 100%;
          margin: 0;
          border-bottom: 1px solid white; }
      body #wrapper main .section-main-info .union section {
        width: 100%;
        margin: 0;
        text-align: center; }
        body #wrapper main .section-main-info .union section img {
          width: 100%; }
      body #wrapper main .section-secondary-info {
        padding: 0;
        margin: 0; }
        body #wrapper main .section-secondary-info section {
          width: 100%; }
          body #wrapper main .section-secondary-info section header {
            width: 100%;
            font-size: 14px; }
            body #wrapper main .section-secondary-info section header h3 {
              width: 100%;
              text-align: center;
              font-size: 20px; }
      body #wrapper main nav {
        display: block; }
        body #wrapper main nav ul li {
          font-size: 15px;
          margin: 0;
          width: 100%;
          text-align: center; }
        body #wrapper main nav ul > li:nth-child(1) {
          width: 100%;
          text-decoration: underline; }
 }

/*# sourceMappingURL=BatmanArkhamKnight.css.map */